---
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
import Main from "./Main.astro";
import Pagination from "@components/Pagination.astro";
import type { CollectionEntry } from "astro:content";
import Card from "@components/Card";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"techwatch">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout
  title="Tech Watch"
  title="Tech Watch: Latest Trends in React, TypeScript, and Front-End Development"
  description="Discover the latest trends and insights in React, TypeScript, and front-end development. Stay ahead in tech with our curated tech watch updates."
>
  <Header activeNav="tech-watch" />
  <Main
    pageTitle="Tech Watch"
    pageDesc="All the articles I've selected."
    rss="/rss-techwatch.xml"
  >
    <ul>
      {
        paginatedPosts.map(item => (
          <Card
            href={item.data.url}
            frontmatter={{
              author: item.data.author,
              title: item.data.title,
              pubDatetime: item.data.pubDatetime,
              modDatetime: item.data.pubDatetime,
              description: item.data.description,
              tags: item.data.tags,
            }}
            displayAuthor
          />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/posts${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/posts/${currentPage + 1}/`}
  />
</Layout>
